<div class="container">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <app-menu></app-menu>
  
    <section class="main-content">
      <div class="content-wrapper">
        <article>
          <h2>Contactenos</h2>

          <p>Hotel Arena & Mar Resort:</p>

          <p> <i class = "fa-solid fa-phone-volume"></i> &nbsp; <i class=" fa-solid fa-arrow-right"></i>  &nbsp;  {{textoContactenosTelefono}}</p>

          <p> <i class="fa-solid fa-location-dot"></i> &nbsp; <i class=" fa-solid fa-arrow-right"></i> &nbsp;  {{textoContactenosApartado}}</p>
  
          <p><i class ="fa-solid fa-envelope"></i> &nbsp; <i class=" fa-solid fa-arrow-right"></i> &nbsp;  {{textoContactenosCorreo}}</p>

          
          
          
        </article>
      </div>
    </section>
  </div>
