<!-- menu.component.html -->
<header class="header">
    <img src="https://i.ibb.co/fYYxbjmG/logo-1.png" alt="A&M" class="logo" />
    <h1>Arena & Mar Resort</h1>
  </header>
  
<nav class="sidebar">
    <ul>
      <li (click)="redirigir('/home')"><a>Home</a></li>
      <li (click)="redirigir('/sobrenosotros')"><a>Sobre Nosotros</a></li>
      <li (click)="redirigir('/facilidades')"><a>Facilidades</a></li>
      <li (click)="redirigir('/comollegar')"><a>¿Cómo llegar?</a></li>
      <li (click)="redirigir('/tarifas')"><a>Tarifas</a></li>
      <li (click)="redirigir('/reservaenlinea')"><a>Reservar en Línea</a></li>
      <li (click)="redirigir('/contectenos')"><a>Contáctenos</a></li>

<aside class="advertisement">
      <p>Área de publicidad</p>
    </aside>
    </ul>
  
    
  </nav>
  